@import "./styles/rootStyle.scss";

.App {
  display: flex;
  flex-direction: column;

  text-align: center;

  height: 100vh;

  width: 100vw;

  max-width: 62.5rem;

  background-color: #ffffff;
}

.App-logo {
  height: 5vmin;
  margin-right: $spacing-unit * 5;
  pointer-events: none;
}

.App-logo:nth-child(2) {
  margin-right: 0;
  height: 4vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: $spacing-unit;
}

.App-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
