@import "../styles/rootStyle.scss";

.loading-indicator-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-indicator-area .gql-spinner {
  height: 50vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-indicator-area .gql-spinner {
    animation: App-logo-spin infinite 1s linear;
  }
}

.main-header {
  margin: 0 $spacing-unit;
}

.main-title {
  font-size: $font-size-unit * 5;
  font-family: $title-font-family;
}

.main-to-container {
  padding-left: $spacing-unit * 2;
  padding-right: $spacing-unit * 2;
  flex: 1;
  display: flex;
  min-height: 0;

  justify-content: space-around;
}

.main-to-area {
  display: flex;
  flex-direction: column;

  width: 30vw;
  min-width: 20rem;
  max-width: 25rem;
  height: 100%;
  min-height: 0;

  padding-bottom: $spacing-unit;
}

.main-to-title {
  font-family: $title-font-family;
  font-size: $font-size-unit * 2;
  margin-bottom: $spacing-unit * 2;
}

.main-to-list-scroll {
  flex: 1;
  overflow: auto;

  scrollbar-width: none;
}

.main-to-list {
  display: block;
}

.main-to-card {
  text-align: left;
  margin-bottom: $spacing-unit;

  min-height: 12.5em;
}

.main-to-controller {
  margin-top: $spacing-unit * 2;
}

.main-to-card-title-container {
  display: flex;
  justify-content: space-between;
}

.main-to-card-delete-button {
  background-color: white !important;
  font-family: $title-font-family !important;
  font-size: 0.5em !important;
  margin: 0 !important;
  padding: 0 $spacing-unit 0 $spacing-unit !important;
}

.main-to-card-delete-button:hover {
  background-color: #dc3545 !important;
}
